.custom-input-box {
    background: none !important;
    box-shadow: none !important;
    border: 1px solid #eee;
    outline: none !important;
}

.custom-card-box {
    box-shadow: 0 0 20px 0px #eee !important;
}